.body {
    height: 100vh;
  }
  
  .container {
      display: flex;
      flex-direction: row;
      width: 500px;
      height: 500px;
      border: 2px solid red;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
  }
  
  .pixel {
    flex: 1;
    min-width: 5px;
    min-height: 5px;
    border: 0.1px solid black;
  }
  
  .row {
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
  }
  
  .pixel:hover {
    background-color: black;
  }